*{
    box-sizing: border-box;
    border-radius: 5px;
}

body{
    height: 100vh;
    width: 100vw;
}

.container{
    height: fit-content;
    display: flex;
}

.UVI-index{
    flex-grow: 1;
}

.five-day-forecast{
    display: flex;
}

.favourable{
    background-color: greenyellow;
}

.moderate{
    background-color: gold;
}

.high{
    background-color: orange;
}

.severe{
    background-color: red;
}